.footer {
    background-color: var(--footer-background);
    height: 20em;
    text-align: center;
    width: 100%;
    display: flex;
    padding-left: 14em;
    z-index: 1;
}
.footer-container {
    background-color: var(--footer-background);
    width: 100%;
}
.footer-container .logo {
    color: var(--accent-1);
    margin: 1.5em 0 0 7em;
    padding-right: 20%;
}
.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer-link-wrapper {
    display: flex;
}
.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.8em 0.5em 0.5em 0.5em;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer-link-items h2 {
    margin-bottom: 16px;
}
.footer-link-items > h2 {
    color: var(--accent-1);
    font-size: 16px;
}
.footer-link-items a {
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-link-items a:hover {
    color: var(--shortened-link);
}
.footer-container img {
    width: 1.5em;
    height: 1.5em;
    margin: 3.5em 0.5em;
}
.footer-container img:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(26%) saturate(6529%) hue-rotate(131deg) brightness(84%) contrast(95%);
}
@media screen and (max-width: 700px) {
    .footer-container {
        display: none;
    }
}